<div class="container">
  <form>
    <div class="form-group">
      <label for="firstName">Имя:</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия:</label>
        <input type="text" class="form-control" id="lastName">
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
</div>