<h2>
  Таблица пользователей:
</h2>

<div class="table-responsive">
  <table class="table table-striped text-center table-dark">
    <thead>
        <th scope="col">Фамилия:</th>
        <th>Имя:</th>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
    </tr>
  </table>
</div>
  

<h3>Created on: {{usersService.creationDate | date:'dd.MM.yyyy &nbsp; HH:mm:ss.SSS'}}</h3>
<h3>Clicked {{usersService.clickCount}} times</h3>
<button class="btn btn-primary" (click)="usersService.increase()">Click</button>
