<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>App.component:</h1>
  <hr>
  <app-user-list></app-user-list>
  <app-user-table></app-user-table>
  <hr>
</div>



