<h2>
  Таблица пользователей:
</h2>

<div class="table-responsive">
  <table class="table table-striped table-dark">
    <thead>        
        <th>Id:</th>
        <th>Фамилия:</th>
        <th>Имя:</th>
        <th>Действие</th>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
        <td class="td-actions">
            <div class="input-toolbar">
                <a [routerLink]="['/users', user.id]" class="btn btn-outline-warning btn-spaced">Редактировать</a>
            </div>
        </td>
    </tr>
  </table>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="itemsPerPage" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>

  
  </div>
